<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
    </div>
    <h3>Power Stats</h3>
    <form [formGroup]="powerStatsForm">
        <ul class="power-stats-list">
            <li *ngFor="let stat of stats | keyvalue">
                <span>{{ stat.key }}:</span>
                <input [formControlName]="stat.key" class="power-stat-input" type="number" min="0" max="10"
                    [value]="stat.value">
            </li>
        </ul>
    </form>

    <app-hero-overall-rating [powerStats]="hero.powerStats"></app-hero-overall-rating>
</div>