<div *ngIf="hero">

    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <input [(ngModel)]="hero.name" placeholder="name" />
        </label>
    </div>
    <h3>Power Stats</h3>
    <ul class="power-stats-list">
        <li *ngFor="let stat of stats | keyvalue">
            <span>{{ stat.key }}:</span><span>{{ stat.value }}</span>
        </li>
    </ul>

    <app-hero-overall-rating [hero]="hero"></app-hero-overall-rating>
</div>